.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  flex: 1 1 auto;
  background-color: blue;
}

header, .container, footer{
  padding-left: 15px;
  padding-right: 15px;
}